#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #1e1e1e;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-input {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #2f2f2f;
  color: #f1f1f1;
  font-size: 20px;
}

.question-input::placeholder {
  font-size: 20px;
}

button {
  background-color: #0076f5;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.analogy-output {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.analogy-output h2 {
  margin-top: 0;
}

.star-rating-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-label {
  width: 400px;
  margin-right: 10px;
  font-weight: bold;
}

.star {
  font-size: 28px;
  color: #555;
  margin-right: 5px;
  cursor: pointer;
}

.star.filled {
  color: #ffd700; /* Gold color for filled star */
}

.feedback-comment {
  margin: 20px 0;
}

.comment-input {
  width: 80%;
  height: 60px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 10px;
}

.submit-feedback-btn {
  margin-top: 10px;
}

.feedback-message {
  margin-top: 15px;
  color: #00ff00;
}
